</main>

<footer class="text-center py-4 mt-auto">
    <div class="container">
        <p class="mb-1">© 2026 E-Shop</p>
        <!-- <small>Built with Node.js, Express & MongoDB</small> -->
        <small>Built with ❤️ Shawn and Team</small>
    </div>
</footer>

</body>
</html>